name: Publish

env:
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

on:
  workflow_dispatch:

permissions: {}

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  #v6.0.2
      - name: Setup Node Environment
        uses: ./.github/workflows/setup-env
        with:
          npmAuthToken: $NODE_AUTH_TOKEN

      - name: Deploy typescript package
        run: yarn deploy
