name: Lint & Build

env:
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

permissions: {}

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  #v5.0.0
      - name: Setup Node Environment
        uses: ./.github/workflows/setup-env
        with:
          npmAuthToken: $NODE_AUTH_TOKEN

      - name: Run lint
        run: yarn lint

      - name: Run build
        run: yarn build
